@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexc1RwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexU1WwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prata/v18/6xKhdSpbNNCT-vWI.ttf) format('truetype');
}
/**** Global Color ***/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #422422;
  font-size: 12px;
}
body body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body .container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: "Prata", serif;
  font-weight: 400;
  margin: 0;
}
body h1 {
  font-size: 4rem;
}
body h2 {
  font-size: 3rem;
}
body h3 {
  font-size: 2rem;
}
body p,
body span,
body a {
  font-family: "Mulish", sans-serif;
}
body p {
  font-size: 1rem;
  margin: 0;
  padding: 2vh;
  line-height: 140%;
}
body img {
  max-width: 100%;
  height: auto;
}
body .item {
  position: relative;
  display: contents;
}
body .wp-block-embed-youtube iframe {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}
body .sociales {
  display: none;
}
body .mt-50 {
  margin-top: 50px;
}
body pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
.App {
  margin: 0 auto;
}
.App figure img {
  width: 100%;
  height: auto;
}
.App .post {
  padding: 20px 0;
  border-bottom: 1px solid #6a7564;
}
.App .bloque {
  margin: 5px;
  padding: 20px;
}
.App .wp-block-button.info {
  background-color: #9b6446;
  width: max-content;
  padding: 8px 30px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.1rem;
  border-radius: 15px;
}
.swiper {
  background-color: #d8b69d;
}
.swiper .parallax-bg {
  position: absolute;
  left: 0;
  top: 100vh;
  width: 130%;
  height: 200%;
  background-size: cover;
  background-position: top;
}
.swiper img.thumb {
  max-height: 25%;
  width: auto;
  display: block;
  margin: 10px auto;
}
.swiper .block-container {
  min-height: 90%;
  min-height: 90vh;
  display: flex;
  align-items: center;
}
#slider-intro {
  color: #ffffff;
  background-color: #7a157d;
  min-height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}
#slider-intro::before {
  background-image: url("../../../img/rama_blanca.svg");
  background-position: 150%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  z-index: 2;
  background-size: cover;
  content: "";
  width: 100vw;
  height: 100vh;
  left: 0;
}
@media (min-width: 992px) {
  #slider-intro::before {
    left: -50vw;
  }
}
#slider-intro::after {
  background-image: url("../../../img/rama_blanca.svg");
  background-position: 150%;
  background-repeat: no-repeat;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  position: absolute;
  display: inline-block;
  z-index: 2;
  background-size: cover;
  content: "";
  width: 100vw;
  height: 100vh;
  right: 0;
}
@media (min-width: 992px) {
  #slider-intro::after {
    right: -50vw;
  }
}
#slider-intro .wp-block-group__inner-container {
  position: relative;
  display: inline-block;
  top: 40vh;
}
.bgAnimated {
  position: absolute;
  right: 44vw;
  width: 100vw;
  height: auto;
}
@media (max-width: 1199.98px) {
  .bgAnimated {
    right: 60px;
  }
}
@media (max-width: 767.98px) {
  .bgAnimated {
    bottom: 0vh;
  }
}
a.wp-block-button__link {
  text-decoration: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  min-height: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: auto;
}
.swiper-slide img.thumb {
  max-height: 25%;
  width: auto;
  display: none;
  margin: 10px auto;
}
.swiper-slide img.thumb:first-child {
  display: block;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
/*# sourceMappingURL=violencia-sexual.css.map */