@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&family=Prata&display=swap");
@import "./slides.less";

/**** Global Color ***/
@beige: #d8b69d;
@dark-green: #2c3f21;
@green: #6a7564;
@light-green: #b8c7b7;
@text-color: #422422;
@dark-orange: #a20027;
@orange: #f69b02;
@brown: #9b6446;
@violet: #3f2771;
@white: #ffffff;
@lila: #7a157d;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: @text-color;
  background-color: @lila;
  transition: background-color 0.5s ease-in-out;
  .container {
    //max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Prata", serif;
    color: @white;
    font-weight: 600;
    margin: 0;
    text-shadow: 2px 2px 6px @text-color;
  }

  h1 {
    font-size: 4rem;
    @media (max-width: 600px) {
      font-size: 3rem;
    }
  }
  h2 {
    font-size: 5rem;
    @media (max-width: 600px) {
      font-size: 4rem;
    }
  }

  h3 {
    font-size: 2rem;
    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  p,
  span,
  a {
    font-family: "Mulish", sans-serif;
  }

  p {
    font-size: 1.4rem;
    margin: 0;
    padding: 2vh;
    line-height: 140%;
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }
  cite {
    font-size: 0.9rem;
    @media (max-width: 600px) {
      font-size: 0.7rem;
    }
  }
  &.lila {
    background-color: @lila;
  }
  &.beige {
    background-color: @beige;
  }
  &.verde {
    background-color: @green;
  }
  &.naranja {
    background-color: @orange;
  }
}

// hacks estilos por defecto wordpressv

.item {
  position: relative;
  display: contents;
}
.wp-block-embed-youtube iframe {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}
.sociales {
  display: none;
}
.mt-50 {
  margin-top: 50px;
}
pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.App {
  margin: 0 auto;
  .wp-block-gallery figure.wp-block-image img {
    max-height: 90vh;
  }
  figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 auto;
    width: 85vw;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
  figcaption {
    font-size: 0.9rem;
    @media (max-width: 600px) {
      font-size: 0.7rem;
    }
  }
  .post {
    padding: 20px 0;
    border-bottom: 1px solid @green;
  }
  .bloque {
    margin: 5px;
    padding: 20px;
  }
  .wp-block-button {
    &.info {
      background-color: @brown;
      width: max-content;
      padding: 8px 30px;
      margin: 0 auto;
      color: @white;
      font-size: 1.1rem;
      border-radius: 15px;
    }
  }
  .cortina {
    width: 100vw;
    height: 100vh;
    background-color: @white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    animation: background-color 1s infinite;
    &::before {
      content: url("../../../img/cnmh-loading.gif");
      top: 0;
      transform: translate(50vw, 45vh);
      position: absolute;
      @media (max-width: 600px) {
        transform: translate(40vw, 40vh);
      }
    }
  }
}

// MENU
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 70px;
  &.hide {
    visibility: hidden;
  }
}

// BLOQUES SWIPER
.swiper {
  background-color: transparent;
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 40vh;
    width: 130%;
    height: 500vh;
    background-size: cover;
    background-position: top;
  }

  img.thumb {
    max-height: 25%;
    width: auto;
    display: block;
    margin: 10px auto;
  }
  .block-container {
    min-height: 90vh;
    margin: 0 10vw;
    display: flex;
    align-items: center;
    p {
      text-align: left;
    }
  }
}

// INTRO

.block-container > #slider-intro {
  width: 100vw;
  position: absolute;
  left: 0;
}
#slider-intro {
  color: @white;
  min-height: 100vh;
  position: relative;
  top: 0;
  width: 100%;

  &::before {
    background-image: url("../../../img/rama_blanca.svg");
    background-position: 150%;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    z-index: -1;
    background-size: contain;
    content: "";
    width: 100vw;
    height: 100vh;
    @media (min-width: 992px) {
      left: -50vw;
    }
  }
  .wp-block-group__inner-container {
    position: relative;
    display: inline-block;
    top: 40vh;
  }
}
.bgAnimated {
  position: absolute;
  right: 44vw;
  width: 100vw;
  height: auto;
  @media (max-width: 1199.98px) {
    right: 60px;
  }
  @media (max-width: 767.98px) {
    bottom: 0vh;
  }
}

a.wp-block-button__link {
  text-decoration: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    width: initial;
    height: auto;
  }
  img.thumb {
    max-height: 25%;
    width: auto;
    display: none;
    margin: 10px auto;
    &:first-child {
      display: block;
    }
  }
}

@-o-keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}
