@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Prata&family=Covered+By+Your+Grace&display=swap");
@import "./slides.less";

/**** Global Color ***/
@beige: #d8b69d;
@dark-green: #2c3f21;
@green: #6a7564;
@light-green: #b8c7b7;
@text-color: #422422;
@dark-orange: #a20027;
@orange: #f69b02;
@brown: #9b6446;
@violet: #3f2771;
@white: #ffffff;
@lila: #7a157d;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: @text-color;
  background-color: @lila;
  transition: background-color 0.5s ease-in-out;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  .container {
    //max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Prata", serif;
    color: @white;
    font-weight: 600;
    margin: 0;
    //text-shadow: 1px 1px 2px @text-color;
    letter-spacing: 5px;
  }

  h2 {
    font-size: 5rem;

    @media (max-width: 600px) {
      font-size: 4rem;
    }
  }

  .titulo-modulo h2 {
    font-family: "Covered By Your Grace", cursive;
  }

  h3 {
    font-size: 2rem;
    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.4rem;
    margin: 0;
    padding: 2vh;
    line-height: 140%;
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }
  .subtitulo-sec {
    font-size: 1.5em;
    color: @white;
  }
  cite {
    font-size: 0.9rem;
    @media (max-width: 600px) {
      font-size: 0.7rem;
    }
  }
  &.lila {
    background-color: @lila;
  }
  &.beige {
    background-color: @beige;
    h2 {
      color: @white;
    }
    h3 {
      color: @text-color;
    }
  }
  &.verde {
    background-color: @light-green;
    h2 {
      color: @dark-green;
    }
    h3 {
      color: @green;
    }
  }
  &.naranja {
    background-color: @orange;
    color: @violet;
    h2 {
      color: @dark-orange;
    }
    h3 {
      color: @violet;
    }
  }
}

// hacks estilos por defecto wordpressv

.item {
  position: relative;
  display: contents;
}
.wp-block-embed-youtube iframe {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}
.sociales {
  display: none;
}
.mt-50 {
  margin-top: 50px;
}
pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.App {
  margin: 0 auto;
  .wp-block-gallery figure.wp-block-image img {
    max-height: 90vh;
  }

  .wp-block-audio::before {
    content: "";
    background-image: url("../../../img/calltoaction-audios.png");
    width: 25%;
    height: 30vh;
    position: absolute;
    bottom: -80px;
    background-repeat: no-repeat;
    background-position: top;
    left: 20%;
    background-size: contain;
  }
  .wp-block-buttons {
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) ; 5%,
      rgba(255, 255, 255, 1) ; 100%
    );
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid @dark-orange;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    &:hover {
      background-color: @beige;
      color: @white !important;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}
.item-imagen {
  display: contents;
}
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0 auto;
  width: 85vw;
  position: relative;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
figcaption {
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 0px;
  /* color: white; */
  padding: 10px;
  margin: 0 auto;
  left: 70%;
  bottom: 5%;
  @media (max-width: 600px) {
    font-size: 0.7rem;
  }
}
.post {
  padding: 20px 0;
  border-bottom: 1px solid @green;
}
.bloque {
  margin: 5px;
  padding: 20px;
}
.wp-block-button {
  &.info {
    background-color: @brown;
    width: max-content;
    padding: 8px 30px;
    margin: 0 auto;
    color: @white;
    font-size: 1.1rem;
    border-radius: 15px;
  }
}

// RAMAS
.ramas {
  position: fixed;
  bottom: -93vh;
  right: -26vw;
  z-index: 0;
  svg {
    width: 77vw;
  }
}

// MARIPOSAS
.mariposas-color {
  background-image: url("../../../img/mariposas-colores.png");
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.mariposa-inicio {
  z-index: 3;
  position: relative;
}

// MENU
.menu {
  position: fixed;
  top: 40vh;
  left: 4vw;
  z-index: 9;
  width: 70px;
  &.hide {
    visibility: hidden;
  }
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px 0;
    &:hover {
      .txt {
        visibility: visible;
        background-color: @white;
      }
    }
    .txt {
      position: relative;
      left: 60px;
      width: max-content;
      top: 16px;
      visibility: hidden;
      color: @text-color;
      padding: 3px 5px;
    }
    &.beige {
      background-color: @beige;
      &:hover {
        background-color: @brown;
      }
    }
    &.green {
      background-color: @green;
      &:hover {
        background-color: @dark-green;
      }
    }
    &.orange {
      background-color: @orange;
      &:hover {
        background-color: @dark-orange;
      }
    }
  }
}

// BLOQUES SWIPER
.swiper {
  background-color: transparent;

  // IFRAMES

  iframe {
    width: 80vw;
    height: 70vh;
  }

  .parallax-bg {
    position: absolute;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    &.cuerpo1 {
      left: 37vw;
      top: 110vh;
      width: 130%;
      height: 900vh;
      background-image: url(../../../img/cuerpo.png);
    }
    &.cuerpo2 {
      right: 37vw;
      top: 610vh;
      width: 130%;
      height: 900vh;
      background-image: url(../../../img/cuerpo.png);
    }
    &.cuerpo3 {
      left: 37vw;
      top: 1310vh;
      width: 150%;
      height: 1100vh;
      background-image: url(../../../img/cuerpo.png);
    }
  }

  img.thumb {
    max-height: 25%;
    width: auto;
    display: block;
    margin: 10px auto;
  }
  .block-container {
    min-height: 90vh;
    margin: 0 10vw;
    display: flex;
    align-items: center;
    p {
      text-align: left;
    }
  }
}

// INTRO

#slider-intro {
  color: @white;

  .wp-block-group__inner-container {
    position: relative;
    display: inline-block;
    //top: 40vh;
  }
}

.bgAnimated {
  position: absolute;
  right: 44vw;
  width: 100vw;
  height: auto;
  @media (max-width: 1199.98px) {
    right: 60px;
  }
  @media (max-width: 767.98px) {
    bottom: 0vh;
  }
}

a.wp-block-button__link {
  text-decoration: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    width: initial;
    height: auto;
    max-height: 90vh;
  }
  img.thumb {
    max-height: 25%;
    width: auto;
    display: none;
    margin: 10px auto;
    &:first-child {
      display: block;
    }
  }
}

.wp-block-quote::before {
  content: "";
  background-image: url("../../../img/quote-before.png");
  position: relative;
  top: 93px;
  left: -50px;
  display: block;
  width: 300px;
  height: 195px;
  background-repeat: no-repeat;
}

@-o-keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}
