@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/coveredbyyourgrace/v15/QGYwz-AZahWOJJI9kykWW9mD6opopoqXSOS0Fg.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexc1RwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v12/1Ptyg83HX_SGhgqO0yLcmjzUAuWexU1WwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/prata/v18/6xKhdSpbNNCT-vWI.ttf) format('truetype');
}
.swiper-slide #eje1 {
  color: white;
  font-family: "Prata", sans-serif;
}
.swiper-slide #eje1::before {
  background-image: url("../../../img/Path-3492.png");
  width: 65vw;
  height: 100vh;
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  margin: 0 -20vw;
  background-repeat: no-repeat;
  background-position: top;
}
@media (max-width: 600px) {
  .swiper-slide #eje1::before {
    background-size: cover;
    width: 100vw;
    height: 80vh;
  }
}
.outer1 {
  width: 500px;
  position: absolute;
  animation: floatup1 25s linear infinite, sideways 25s linear infinite,
    change 5s linear infinite alternate;
}
.outer2 {
  width: 500px;
  position: absolute;
  animation: floatup2 20s linear infinite, sideways 20s linear infinite,
    change 15s linear infinite alternate;
}
.outer3 {
  width: 500px;
  position: absolute;
  animation: floatup3 35s linear infinite, sideways 30s linear infinite,
    change 20s linear infinite alternate;
}
.box1 {
  width: 80px;
  display: flex;
  perspective: 500px;
  margin-right: 30vw;
}
.box1::before,
.box1::after {
  content: "";
  padding-top: 56%;
  flex: 1;
  background-image: url("../../../img/butterfly.png");
  background-size: 200% 100%;
  animation: left 0.5s linear infinite alternate;
  transform-origin: right;
}
.box1::after {
  background-position: right;
  animation-name: right;
  transform-origin: left;
}
.box2 {
  width: 120px;
  display: flex;
  perspective: 500px;
  margin-right: 60vw;
}
.box2::before,
.box2::after {
  content: "";
  padding-top: 56%;
  flex: 1;
  background-image: url("https://i.imgur.com/fLNCWNA.png");
  background-size: 200% 100%;
  animation: left 0.5s linear infinite alternate;
  transform-origin: right;
}
.box2::after {
  background-position: right;
  animation-name: right;
  transform-origin: left;
}
.box3 {
  width: 180px;
  display: flex;
  perspective: 500px;
  margin-right: 70vw;
}
.box3::before,
.box3::after {
  content: "";
  padding-top: 56%;
  flex: 1;
  background-image: url("https://i.imgur.com/fLNCWNA.png");
  background-size: 200% 100%;
  animation: left 0.5s linear infinite alternate;
  transform-origin: right;
}
.box3::after {
  background-position: right;
  animation-name: right;
  transform-origin: left;
}
@keyframes left {
  from {
    transform: translateZ(80px) rotateY(-10deg);
  }
  to {
    transform: translateZ(0px) rotateY(70deg);
  }
}
@keyframes right {
  from {
    transform: translateZ(80px) rotateY(10deg);
  }
  to {
    transform: translateZ(0px) rotateY(-70deg);
  }
}
@keyframes flutter {
  from {
    margin-left: 0;
    margin-top: 100%;
  }
  to {
    margin-left: 100%;
    margin-top: 0;
  }
}
@keyframes floatup {
  0% {
    top: 100%;
    transform: rotateZ(0deg);
  }
  100% {
    top: -300px;
    transform: rotateZ(random(360deg));
  }
}
@keyframes floatup2 {
  0% {
    top: 100%;
  }
  100% {
    top: -500px;
  }
}
@keyframes floatup3 {
  0% {
    top: 100%;
  }
  100% {
    top: -800px;
  }
}
@keyframes sideways {
  from {
    left: 0;
  }
  to {
    left: 700px;
  }
}
@keyframes change {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
/**** Global Color ***/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #422422;
  background-color: #7a157d;
  transition: background-color 0.5s ease-in-out;
}
body .container {
  margin: 0 auto;
  position: relative;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: "Prata", serif;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
  text-shadow: 1px 1px 2px #422422;
  letter-spacing: 5px;
}
body h2 {
  font-size: 5rem;
}
@media (max-width: 600px) {
  body h2 {
    font-size: 4rem;
  }
}
body .titulo-modulo h2 {
  font-family: "Covered By Your Grace", cursive;
}
body h3 {
  font-size: 2rem;
}
@media (max-width: 600px) {
  body h3 {
    font-size: 1.5rem;
  }
}
body p,
body span,
body a {
  font-family: "Mulish", sans-serif;
}
body p {
  font-size: 1.4rem;
  margin: 0;
  padding: 2vh;
  line-height: 140%;
}
@media (max-width: 600px) {
  body p {
    font-size: 1rem;
  }
}
body .subtitulo-sec {
  font-size: 1.5em;
  color: #ffffff;
}
body cite {
  font-size: 0.9rem;
}
@media (max-width: 600px) {
  body cite {
    font-size: 0.7rem;
  }
}
body.lila {
  background-color: #7a157d;
}
body.beige {
  background-color: #d8b69d;
}
body.verde {
  background-color: #b8c7b7;
}
body.naranja {
  background-color: #f69b02;
}
.item {
  position: relative;
  display: contents;
}
.wp-block-embed-youtube iframe {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}
.sociales {
  display: none;
}
.mt-50 {
  margin-top: 50px;
}
pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
.App {
  margin: 0 auto;
}
.App .wp-block-gallery figure.wp-block-image img {
  max-height: 90vh;
}
.App figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0 auto;
  width: 85vw;
}
.App figure ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.App figcaption {
  font-size: 0.9rem;
}
@media (max-width: 600px) {
  .App figcaption {
    font-size: 0.7rem;
  }
}
.App .post {
  padding: 20px 0;
  border-bottom: 1px solid #6a7564;
}
.App .bloque {
  margin: 5px;
  padding: 20px;
}
.App .wp-block-button.info {
  background-color: #9b6446;
  width: max-content;
  padding: 8px 30px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.1rem;
  border-radius: 15px;
}
.App .ramas {
  position: fixed;
  bottom: -93vh;
  right: -26vw;
  z-index: 0;
}
.App .ramas svg {
  width: 77vw;
}
.App .mariposas-color {
  background-image: url("../../../img/mariposas-colores.png");
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.App .mariposa-inicio {
  z-index: 3;
  position: relative;
}
.menu {
  position: fixed;
  top: 40vh;
  left: 4vw;
  z-index: 9;
  width: 70px;
}
.menu.hide {
  visibility: hidden;
}
.menu .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  margin: 10px 0;
}
.menu .circle:hover .txt {
  visibility: visible;
  background-color: #ffffff;
}
.menu .circle .txt {
  position: relative;
  left: 60px;
  width: max-content;
  top: 16px;
  visibility: hidden;
  color: #422422;
  padding: 3px 5px;
}
.menu .circle.beige {
  background-color: #d8b69d;
}
.menu .circle.beige:hover {
  background-color: #9b6446;
}
.menu .circle.green {
  background-color: #6a7564;
}
.menu .circle.green:hover {
  background-color: #2c3f21;
}
.menu .circle.orange {
  background-color: #f69b02;
}
.menu .circle.orange:hover {
  background-color: #a20027;
}
.swiper {
  background-color: transparent;
}
.swiper iframe {
  width: 80vw;
  height: 70vh;
}
.swiper .parallax-bg {
  position: absolute;
  left: 0;
  top: 40vh;
  width: 130%;
  height: 500vh;
  background-size: cover;
  background-position: top;
}
.swiper img.thumb {
  max-height: 25%;
  width: auto;
  display: block;
  margin: 10px auto;
}
.swiper .block-container {
  min-height: 90vh;
  margin: 0 10vw;
  display: flex;
  align-items: center;
}
.swiper .block-container p {
  text-align: left;
}
#slider-intro {
  color: #ffffff;
}
#slider-intro .wp-block-group__inner-container {
  position: relative;
  display: inline-block;
}
.bgAnimated {
  position: absolute;
  right: 44vw;
  width: 100vw;
  height: auto;
}
@media (max-width: 1199.98px) {
  .bgAnimated {
    right: 60px;
  }
}
@media (max-width: 767.98px) {
  .bgAnimated {
    bottom: 0vh;
  }
}
a.wp-block-button__link {
  text-decoration: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.swiper-slide img {
  width: initial;
  height: auto;
}
.swiper-slide img.thumb {
  max-height: 25%;
  width: auto;
  display: none;
  margin: 10px auto;
}
.swiper-slide img.thumb:first-child {
  display: block;
}
@-o-keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ad301b;
  }
  100% {
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=violencia-sexual.css.map */