.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: absolute;
  background: white;
  width: 100vw;
  height: 100vh;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
