@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&family=Prata&display=swap');

/**** Global Color ***/

:root{
  --beige: #d8b69d;
  --dark-green: #2c3f21;
  --green: #6a7564;
  --light-green: #b8c7b7;
  --text-color: #422422;
  --dark-orange: #a20027;
  --orange: #f69b02;
  --brown: #9b6446;
  --violet: #3F2771;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4{
    font-family: 'Prata', serif;
    font-weight: 400;
    margin: 0;
}

h1, h2{
  font-size: 7rem;
}

p, span, a{
  font-family: 'Mulish', sans-serif;
}

p{
  font-size: 2rem;
  margin: 0;
  padding: 2vh;
  line-height: 140%;
}

ul {
  text-align: center;
  list-style-position: inside;
}

section img{
    width: 100%;
}

.center{
  text-align: center;
}

.credit p{
  font-family: 'Prata', serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  width: calc(100% - 81px);
  display: inline-block;
  vertical-align: middle;
}

.credit.white p{
  color: white !important;
}

.credit.full-width{
  width: 100%;
}

.icon{
    display: inline-block;
    vertical-align: middle;
  }

.icon::before{
  display: inline-block;
  content: " ";
  background-color: var(--brown);
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon.icon-envelope::before{
  width: 40px;
  height: 32px;
  -webkit-mask-image: url(../img/iconos/icono_sobre.svg);
  mask-image: url(../img/iconos/icono_sobre.svg);
}

.icon.icon-camera::before{
  width: 40px;
  height: 33px;
  -webkit-mask-image: url(../img/iconos/icono_foto.svg);
  mask-image: url(../img/iconos/icono_foto.svg);
}

.icon.icon-play::before{
  width: 40px;
  height: 40px;
  -webkit-mask-image: url(../img/iconos/icono_audio.svg);
  mask-image: url(../img/iconos/icono_audio.svg);
}

.icon.icon-edit::before{
  width: 40px;
  height: 38px;
  -webkit-mask-image: url(../img/iconos/icono_escrito.svg);
  mask-image: url(../img/iconos/icono_escrito.svg);
}

.icon.icon-video::before{
  width: 40px;
  height: 38px;
  -webkit-mask-image: url(../img/iconos/icono_video.svg);
  mask-image: url(../img/iconos/icono_video.svg);
}

.white .icon::before{
  background-color: white;
}

.dark-green .icon::before{
  background-color: var(--dark-green);
}

.violet .icon::before{
  background-color: var(--violet);
}

.mw-600{
  max-width: 600px;
  margin: 0 auto;
}

/****COLORS TEXT****/

.brown{
  color: var(--brown) !important;
}

.white{
  color: white !important;
}

.dark-green{
  color: var(--dark-green) !important;
}

.violet{
  color: var(--violet) !important;
}

/****CONTAINERS****/

.background-image{
  position: absolute;
  min-width: 200%;
  max-height: 100%;
  object-fit: contain;
  left: -100vw;
}

.axis-3 .background-image{
  position: absolute;
  min-width: 200%;
  max-height: 100%;
  object-fit: contain;
  left: auto;
  right: -100vw;
}

.axis-1 .container-title{
  width: 50vw;
  margin: 0 auto 10vh;
  padding: 20vh;
  border-radius: 0% 7% 45% 61% / 39% 34% 66% 61%;
  background-color: var(--green);
}

.axis-1 .container-title h1{
  color: #fff;
}

.axis-2 p{
  color: var(--dark-green) !important;
}

.axis-2 .container-title{
  width: 50vw;
  margin: 0 auto 10vh;
  padding: 5vh 10vh 16vh;
  border-radius: 0% 9% 98% 50% / 4% 0% 111% 85%;
  background-color: white;
}

.axis-2 .container-title{
  color: var(--dark-green) !important;
}

.axis-3 p{
  color: var(--violet);
}

.axis-3 .container-title{
  width: 50vw;
  margin: 0 auto 10vh;
  padding: 5vh 10vh 16vh;
  border-radius: 0% 9% 98% 50% / 4% 0% 111% 85%;
  background-color: white;
}

.axis-3 .container-title{
  color: var(--dark-orange) !important;
}


.envelope{
  position: relative;
  max-width: 50%;
  margin: 10vh;
}

.envelope.right{
  margin-left: 20vw;
}

.envelope img{
  border-radius: 20px;
}

.envelope .credit, .credit{
  bottom: 20px;
  left: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.envelope .credit{
  position: absolute;
  padding: 10px;
}

.left-container{
  margin: 40vh 5vw 20vh 20vw;
}

.slides{
  min-height: 100vh;
}

.testimony{
  margin: 50vh auto;
  max-width: 1400px;
  position: relative;
}

.testimony:last-child{
  margin: 0 auto;
  padding: 50vh 0;
  max-width: 1400px;
  position: relative;
}

.testimony p{
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 180%;
}

.testimony::before {
  width: 40vh;
  height: 40vh;
  content: " ";
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.testimony::after {
  width: 40vh;
  height: 40vh;
  content: " ";
  display: block;
  position: absolute;
  bottom: -20vh;
  right: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.testimony:last-child:after{
  bottom: 20%;
}

.axis-1 .testimony::before {
  background-image: url(../img/Eje1/comillaAbierta.svg);
}

.axis-1 .testimony::after {
  background-image: url(../img/Eje1/comillaCerrada.svg);
}

.elements img{
  position: absolute;
}

.axis-1 .elements img:first-child{
  width: 30vh;
  top: 2%;
  left: 20%;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(2){
  width: 35vh;
  top: 2.5%;
  left: 2%;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(3){
  width: 25vh;
  top: 3.2%;
  transform: rotate(45deg);
  left: 50%;
  mix-blend-mode: color-dodge;
}

.axis-1 .elements img:nth-child(4){
  width: 100vw;
  top: 1%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(5){
  width: 100vw;
  top: 8%;
  left: -50vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(6){
  width: 15vw;
  top: 9%;
  left: 70vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(7){
  width: 110vw;
  top: 16%;
  left: -40vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(8){
  width: 120vw;
  top: 18%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(9){
  width: 15vw;
  top: 30%;
  transform: rotate(-40deg);
  left: 70vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(10){
  width: 20vw;
  top: 31%;
  transform: rotate(45deg);
  left: 80vw;
  mix-blend-mode: color-dodge;
}

.axis-1 .elements img:nth-child(11){
  width: 110vw;
  top: 33%;
  left: -40vw;
  mix-blend-mode: multiply;
}


.axis-1 .elements img:nth-child(12){
  width: 120vw;
  top: 35%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(13){
  width: 120vw;
  top: 45%;
  left: -25vw;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(14){
  width: 120vw;
  top: 50%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(15){
  width: 110vw;
  top: 55%;
  left: -40vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(16){
  width: 120vw;
  top: 60%;
  right: -50vw;
  mix-blend-mode: multiply;
  transform: rotateZ('180deg');
}

.axis-1 .elements img:nth-child(17){
  width: 120vw;
  top: 65%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(18){
  width: 120vw;
  top: 74%;
  left: -25vw;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
}

.axis-1 .elements img:nth-child(19){
  width: 120vw;
  top: 87%;
  left: -25vw;
  transform: rotate(67deg);
  mix-blend-mode: multiply;
}

.axis-2 .elements img:first-child{
  width: 30vh;
  top: 2%;
  left: 20%;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(2){
  width: 35vh;
  top: 2.5%;
  left: 2%;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(3){
  width: 25vh;
  top: 3.2%;
  transform: rotate(45deg);
  left: 50%;
  mix-blend-mode: color-dodge;
}

.axis-2 .elements img:nth-child(4){
  width: 100vw;
  top: 1%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(5){
  width: 100vw;
  top: 8%;
  left: -50vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(6){
  width: 15vw;
  top: 9%;
  left: 70vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(7){
  width: 110vw;
  top: 16%;
  left: -40vw;
  transform: rotate(180deg);
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(8){
  width: 120vw;
  top: 20%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(9){
  width: 15vw;
  top: 30%;
  transform: rotate(-40deg);
  left: 70vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(10){
  width: 20vw;
  top: 31%;
  transform: rotate(45deg);
  left: 80vw;
  mix-blend-mode: color-dodge;
}

.axis-2 .elements img:nth-child(11){
  width: 110vw;
  top: 33%;
  left: -40vw;
  transform: rotate(180deg);
  mix-blend-mode: multiply;
}


.axis-2 .elements img:nth-child(12){
  width: 120vw;
  top: 40%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(13){
  width: 120vw;
  top: 45%;
  right: -25vw;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(14){
  width: 120vw;
  top: 50%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(15){
  width: 110vw;
  top: 55%;
  transform: rotate(180deg);
  left: -40vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(16){
  width: 120vw;
  top: 60%;
  right: -50vw;
  mix-blend-mode: multiply;
  transform: rotateZ('180deg');
}

.axis-2 .elements img:nth-child(17){
  width: 120vw;
  top: 65%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(18){
  width: 120vw;
  top: 74%;
  left: -25vw;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
}

.axis-2 .elements img:nth-child(19){
  width: 120vw;
  top: 87%;
  left: -25vw;
  transform: rotate(67deg);
  mix-blend-mode: multiply;
}

.axis-3 .elements img:first-child{
  width: 30vh;
  top: 1%;
  left: 6%;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(2){
  width: 35vh;
  top: 1.5%;
  left: 2%;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(3){
  width: 25vh;
  top: 3.2%;
  transform: rotate(45deg);
  left: 50%;
  mix-blend-mode: color-dodge;
}

.axis-3 .elements img:nth-child(4){
  width: 100vw;
  top: 1%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(5){
  width: 100vw;
  top: 8%;
  left: -50vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(6){
  width: 15vw;
  top: 9%;
  left: 70vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(7){
  width: 110vw;
  top: 16%;
  left: -40vw;
  transform: rotate(180deg);
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(8){
  width: 120vw;
  top: 20%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(9){
  width: 15vw;
  top: 30%;
  transform: rotate(-40deg);
  left: 70vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(10){
  width: 20vw;
  top: 31%;
  transform: rotate(45deg);
  left: 80vw;
  mix-blend-mode: color-dodge;
}

.axis-3 .elements img:nth-child(11){
  width: 110vw;
  top: 33%;
  left: -40vw;
  transform: rotate(180deg);
  mix-blend-mode: multiply;
}


.axis-3 .elements img:nth-child(12){
  width: 120vw;
  top: 40%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(13){
  width: 120vw;
  top: 45%;
  right: -25vw;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(14){
  width: 120vw;
  top: 50%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(15){
  width: 110vw;
  top: 55%;
  transform: rotate(180deg);
  left: -40vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(16){
  width: 120vw;
  top: 60%;
  right: -50vw;
  mix-blend-mode: multiply;
  transform: rotateZ('180deg');
}

.axis-3 .elements img:nth-child(17){
  width: 120vw;
  top: 65%;
  right: -30vw;
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(18){
  width: 120vw;
  top: 74%;
  left: -25vw;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
}

.axis-3 .elements img:nth-child(19){
  width: 120vw;
  top: 87%;
  left: -25vw;
  transform: rotate(67deg);
  mix-blend-mode: multiply;
}



.wrapper{
  position: relative;
  z-index: 2;
}

.row{
  width: 100%;
  padding: 5vh;
  position: relative;
}


/***ELEMENTS***/

.btn-indication{
  color: white;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding:20px;
  border-radius: 50px;
  font-size: 20px;
  text-decoration: none;
}

.btn-indication.brown{
  background-color: var(--brown);
  color: white !important;
}

.btn-indication.dark-green{
  background-color: var(--dark-green);
  color: white !important;
}

.btn-indication.dark-orange{
  background-color: var(--dark-orange);
  color: white !important;
}

.triangle {
  margin: 100px;
	position: relative;
	background-color: var(--green);
  text-align: left;
}

.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
	width:  10em;
	height: 10em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: skewX(-2deg) scale(1.3,2) rotate(-45deg);
  margin: 40vh auto 25vh;
}

.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.cartografia-content{
  margin: 20vh auto;
}

.cartografia-content .cartografia{
  border-radius: 40px;
  overflow: hidden;
  max-height: 1300px;
}

.mask{
    position: absolute !important;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    left: 0;
    mask-image: url(../img/mascara-02.png);
    mask-size: 100% 100%;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-position: 0;
    -webkit-mask-image: url(../img/mascara-02.png);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    opacity: 1;
    transition: all 2s ease-in-out;
    cursor: pointer;
}

.mask-open{
    -webkit-mask-size: 200% 400%;
    mask-size: 200% 400%;
}

.mask-image{
    max-width: 300px;
}

/****AUDIO PLAYER****/

.audio-player {
    background: transparent;
    border: 1px solid lighten(#acacac, 20%);
    max-width: 500px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .audio-player .player-controls {
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
  }
  .audio-player progress {
    width: 90%;
  }
  .audio-player progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color: var(--orange);
    border: 2px solid var(--white);
    height: 20px;
  }
  .audio-player progress[value]::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid lighten(#acacac, 20%);
    color: var(--orange);
  }
  .audio-player progress::-webkit-progress-value {
    background-color: var(--orange);
  }
  .audio-player p {
    font-size: 1.6rem;
  }
  .audio-player #play-btn {
      background-image: url('../img/iconoPlay-02.svg');
      background-size: 200px;
      background-repeat: no-repeat;
      background-position: center;
      width: 350px;
      height: 350px;
      margin: 40px auto;
      cursor: pointer;
  }
  .audio-player #play-btn.pause {
    background-image: url('../img/iconoPause-02.svg');
  }
  
  .audio-player.orange #play-btn{
    background-image: url('../multimedia/svg_iconografia/2_Disposicion_al_Dialogo/iconoPlay-orange.svg');
  }
  
  .audio-player #play-btn.pause {
    background-image: url('../img/iconoPause-02.svg');
  }
  
  .audio-player.b1:hover, .audio-player.b2:hover, .audio-player.b3:hover, .audio-player.b4:hover, .audio-player.b5:hover, .audio-player.b6:hover, .audio-player.b7:hover, .audio-player.b8:hover{
    opacity: .6;
  }
  
  .audio-player.b1{
    right: 2%;
    bottom: 11%;
    top: auto;
    left: auto;
    margin: 0;
  }
  
  .audio-player.b2{
    right: 7%;
    bottom: 5%;
    top: auto;
    left: auto;
    margin: 0;
  }
  
  .audio-player.b3{
    left: 24.5%;
    bottom: 5.5%;
    top: auto;
    right: auto;
    margin: 0;
  }
  
  .audio-player.b4{
    left: 18.6%;
    bottom: 11.2%;
    top: auto;
    right: auto;
    margin: 0;
  }
  
  .audio-player.b5{
    left: 18.6%;
    top: 19%;
    bottom: auto;
    right: auto;
    margin: 0;
  }
  
  .audio-player.b6{
    left: 24.5%;
    top: 12.8%;
    bottom: auto;
    right: auto;
    margin: 0;
  }
  
  .audio-player.b7{
    right: 7.1%;
    top: 12.8%;
    bottom: auto;
    left: auto;
    margin: 0;
    background-size: cover;
  }
  
  .audio-player.b8{
    right: 1.3%;
    top: 18.8%;
    bottom: auto;
    left: auto;
    margin: 0;
  }
  
  .audio-player.b1 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton1-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  .audio-player.b2 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton2-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  .audio-player.b3 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton3-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  .audio-player.b4 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton4-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  
  .audio-player.b5 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton5-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  .audio-player.b6 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton6-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  .audio-player.b7 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton7-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  .audio-player.b8 #play-btn{
    background-image: url('../multimedia/2_Territorios/2_3_CiclosdeVida/1_CalendarioLaChorrera/boton8-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
    margin: 0px auto;
    cursor: pointer;
  }
  
  .video-container, .video-container1 {
    overflow: hidden;
    position: relative;
    width:100%;
  }
  
  .video-container::after, .video-container1::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
  
  .video-container iframe, .video-container1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  /**** END AUDIO PLAYER ****/

  .btn-reproducir{
    z-index: 9;
    position: relative;
    height: 305px !important;
    width: 100px !important;
    background-size: 50px !important;
  }


  /***BUTTERFLY***/
  
  #butterfly {
  transform: rotateZ(-30deg) rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  transform-origin: 51% 50%;
  height: 50vh;
  transform-style: preserve-3d;
  position: relative;
  left: 50% !important;
  width: 500px;
  margin-left: -340px;
  /* top: 69px;
  /*Fly in a loop below*/
  /*animation-name: butterflyani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
  }
  
  .wing {
  transform: rotateX(30deg) translate3d(-558px, 8px, 0px) rotate3d(0, 1, 0, 160deg);
  transform-origin: top right;
  position: absolute;
  left: 500px;
  top: 0px;
  width: 400px;
  height: 538px;
  background: url(../img/mariposa-mitad.svg) no-repeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  }

  #butterfly.green .wing{
    background: url(../img/Eje2/mariposa-mitad.svg) no-repeat;
  }

  #butterfly.orange .wing{
    background: url(../img/Eje3/mariposa-mitad.svg) no-repeat;
  }
  
  #butterfly .left{
  transform: rotateX(30deg) rotate3d(0, 1, 0, 0deg);
  left: 0px;
  top: 0px;
  }

  #butterfly.animation .left{
    animation-name: leftwingani;
  }

  #butterfly.animation .right{
    animation-name: rightwingani;
  }
  
  @keyframes rightwingani {
      from {
          transform:rotateX(30deg) translate3d(-501px, 0px, 0px) rotate3d(0, 1, 0, 160deg);
      }
      50% {
          transform:rotateX(30deg) translate3d(-501px, 0px, 0px) rotate3d(0, 1, 0, 100deg);
      }
      to{
          transform:rotateX(30deg) translate3d(-501px, 0px, 0px) rotate3d(0, 1, 0, 160deg);
      }
  }
  
  @keyframes leftwingani {
      from {
          transform:rotateX(30deg) rotate3d(0, 1, 0, 0deg);
      }
      50% {
          transform:rotateX(30deg) rotate3d(0, 1, 0, 80deg);
      }
      to{
          transform:rotateX(30deg) rotate3d(0, 1, 0, 00deg);
      }
  }

  /***IMAGES ZOOM***/

  .container-image{
    width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  }

.image {
	max-width: 500px;
	cursor: none
}
	
.image a{
    cursor: none;
}

.image a img{
    max-width: 100%;
    vertical-align: middle;
    z-index: 1;
}

.zoom{
	width: 14rem;
	height: 14rem;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	/* box-shadow: inset 0 0 0 1px #000;*/
	pointer-events: none;
	transition: all .25s ease;
	opacity: 0;
	transform: scale(0);
	transform-origin: 50% 50%;
	overflow: hidden;
}
	
.zoom:before{
    content: '';
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}
	
.zoom.show{
		transform: scale(1);
		opacity: 1;
		transition: transform .25s ease, opacity 0s linear;
	}

		
.zoom-image {
    opacity: 1;
}
	
.zoom-image {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity .25s ease;
}

section{
  position: relative;
}


section.axis-1{
  background-color: var(--beige);
  position: relative;
}

section.axis-2{
  background-color: var(--light-green);
  padding-bottom: 20vh;
  position: relative;
}

section.axis-3{
  background-color: var(--orange);
  overflow: hidden;
  position: relative;
}